<% top ||= 9999 %>

<ul class="percentage-list">
  <% values.take(top).each do |value| %>
    <li>
      <span class="percentage utm<%= index %>" style="width: <%= value.percentage %>%"></span>

      <span class="content">
        <%= link_to campaign_ad_code_value_path(@campaign, value.index, value.value) do %>
          <span class="<%= badge_class(value.value) %>"><%= value.value %></span>
          <% if value.value_name %>
            <%= value.value_name %>
          <% end %>
        <% end %>

        <small class="text-right">
          <%= link_to "#{value.percentage}% of adverts",
            adverts_path("with_utm_values[#{value.index}]" => "#{value.value}"), class: "ml-1" %>
          <span class="ml-1">
            <%= round_dollars(value.approximate_spend) %>
          </span>

          <% if value.approximate_cpm.present? %>
            <span class="text-muted">
              (<%= round_dollars(value.approximate_cpm) %> <abbr title="Cost per mille" class="initialism">CPM</abbr>)
            </span>
          <% end %>
        </small>
      </span>

      <% if new_ad_code?(value, params[:new] || 2) %>
        <span class="badge badge-success">New</span>
      <% end %>
    </li>
  <% end %>
</ul>
