<ul class="nav nav-tabs ad-code-nav">
  <li class="nav-item">
    <%= nav_link(:show) %>
  </li>
  <li class="nav-item">
    <%= nav_link(:timeline) %>
  </li>
  <li class="nav-item dropdown">
    <%= nav_link(:against) %>
    <div class="dropdown-menu">
      <% add_divider_at_quality_1 = true   %>
      <% @other_ad_codes.each do |ad_code| %>
        <% if ad_code.quality == 1 && add_divider_at_quality_1 %>
          <div class="dropdown-divider"></div>
          <% add_divider_at_quality_1 = false %>
        <% end %>

        <div class="dropdown-item">
          <%=
            link_to ad_code.name, campaign_ad_code_against_path(
              ad_code_id: @ad_code.index, other_index: ad_code.index
            ), class: "#{'text-muted' if ad_code.quality <= 1}"
          %>
          <small class="text-muted">utm<%= ad_code.index %></small>
        </div>
      <% end %>
    </div>
  </li>
  <li class="nav-item <%= 'na' %>">
    <%= nav_link :hosts %>
  </li>
</ul>
