<h1>Adverts at all combinations of <%= @ad_code1.name %> and <%= @ad_code2.name %></h1>

<%= render 'shared/breadcrumb' %>

<table class="against table table-heading table-bordered">
  <thead class="thead-light">
  <tr>
    <th></th>
    <th colspan="99" style="text-align: center">
      <%= link_to campaign_ad_code_path(@campaign, @table.index1) do %>
        <%= @ad_code1.name %>
        <small class="text-muted">utm<%= @ad_code1.index %></small>
      <% end %>
    </th>
  </tr>
  <tr>
    <th>
      <%= link_to campaign_ad_code_path(@campaign, @table.index2) do %>
        <%= @ad_code2.name %>
        <small class="text-muted">utm<%= @ad_code2.index %></small>
      <% end %>
    </th>
    <% @table.col_values.each do |col_value| %>
      <th><%= link_to col_value, adverts_path("with_utm_values[#{@table.index1}]" => col_value) if col_value %></th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% @table.to_a.each_with_index do |row, row_index| %>
    <tr>
      <th scope="row">
        <%=
          link_to @table.row_values[row_index],
            adverts_path("with_utm_values[#{@table.index2}]" => @table.row_values[row_index])
        %>
      </th>
      <% row.each_with_index do |value, col_index| %>
        <td>
          <% if value %>
            <%= link_to value,
              adverts_path(
                "with_utm_values[#{@table.index1}]" => @table.col_values[col_index],
                "with_utm_values[#{@table.index2}]" => @table.row_values[row_index]
              )
            %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
