<%= render 'shared/breadcrumb' %>

<% content_for :title, "#{@campaign.surname} | #{@ad_code.full_name} | Hosts" %>

<h1>
  Hosts for "<%= @ad_code.name %>"
  <small class="text-muted">utm<%= @ad_code.index %></small>
</h1>

<%= render 'tabs' %>

<table class="against table table-heading table-bordered">

  <thead class="thead-light">
  <tr>
    <th colspan="2" width="30%">
      Host
    </th>
    <% @table.col_values.each do |col_value| %>
      <th>
        <%=
          link_to col_value,
                  campaign_ad_code_value_path(@campaign, @ad_code.index, col_value) if col_value
        %>
      </th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% @table.to_a.each_with_index do |row, row_index| %>
    <% hostname = @table.row_values[row_index] %>
    <tr>
      <th scope="row">
        <%= hostname %>
      </th>
      <th scope="row">
        <span class="text-muted"><%= @table.row_by_hostname[hostname]&.purpose %></span>
      </th>
      <% row.each_with_index do |value, col_index| %>
        <td>
          <% if value %>
            <%= link_to value, adverts_path(
              "with_utm_values[#{@index}]" => @table.col_values[col_index],
              'hostname' => hostname
            )
            %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>

</table>
