<%= render 'shared/breadcrumb' %>

<% top ||= 10 %>

<%= content_for :title, "#{@campaign.surname} | Ad codes and their values" %>
<h1>Ad codes and their values</h1>

<%= render 'sort_links' %>

<ul class="tag-list">
  <% @ad_codes.each_pair do |name, values| %>
    <li>
     <%=
       link_to name, "##{name.downcase.gsub(' ', '-')}",
         class: values.first.quality <= 1 ? 'text-muted' : '',
         data: { turbolinks: false }
     %>
    </li>
  <% end %>
</ul>

<% @ad_codes.each_pair do |name, values| %>
  <div class="a8-code">
    <a name="<%= name.downcase.gsub(' ', '-') %>"></a>
    <h2 class="heading">
      <%= link_to name, campaign_ad_code_path(@campaign, values.first.index, sort: params[:sort]) %>
      <small class="text-muted">utm<%= values.first.index %></small>
    </h2>

    <p><%= values.first.short_desc %></p>
    <hr>

    <h3 class="h5">
      <%= values.count %> values
      <% if values.count > 10 %>
        <small class="text-muted">
          – showing <%= top %>,
          <%= link_to 'see more', campaign_ad_code_path(@campaign, values.first.index) %>
        </small>
      <% end %>
    </h3>

    <%=
      render 'ad_codes_list',
      values: values,
      index: values.first.index,
      top: top
    %>
  </div>
<% end %>
