<%= render 'shared/breadcrumb' %>

<h1>Ad codes and their values</h1>

<ul class="tag-list">
  <% @ad_codes.each_pair do |name, values| %>
    <li>
     <%=
       link_to name, "##{name.downcase.gsub(' ', '-')}",
         class: values.first.quality <= 1 ? 'text-muted' : '',
         data: { turbolinks: false }
     %>
    </li>
  <% end %>
</ul>

<% @ad_codes.each_pair do |name, values| %>
  <div class="ad-code">
    <a name="<%= name.downcase.gsub(' ', '-') %>"></a>
    <h2 class="heading">
      <%= link_to name, campaign_ad_code_path(@campaign, values.first.index) %>
      <small class="text-muted">utm<%= values.first.index %></small>
    </h2>

    <h3 class="h5">
      <%= values.count %> values
      <% if values.count > 10 %>
        <small class="text-muted">
          – showing 10,
          <%= link_to 'see more', campaign_ad_code_path(@campaign, values.first.index) %>
        </small>
      <% end %>

    </h3>
    <%= render 'ad_codes_list', values: values %>
  </div>
<% end %>
