<%= render 'shared/breadcrumb' %>

<h1><%= @ad_code.name %> <small class="text-muted"><%= "utm#{@ad_code.index}" %>, <%= confidence_badge(@ad_code.confidence) %> confidence</small></h1>

<%= render 'ad_codes/tabs' %>

<%= markdown_to_html(@ad_code.description) %>

<h2>Values</h2>

<%= render 'ad_codes/ad_codes_list', values: @ad_codes, index: @ad_code.index %>
