<%= render 'shared/breadcrumb' %>

<h1><%= @ad_code.name %> <small class="text-muted"><%= "utm#{@ad_code.index}" %></small></h1>

<%= render 'ad_codes/tabs' %>

<h2>Values between <%= @start %> and <%= @finish %> </h2>

<%= timeline_range_links %>

<%= timeline(@values) %>


