<%= render 'shared/breadcrumb' %>

<% content_for :title, "#{@campaign.surname} | #{@ad_code.name} | Timeline" %>
<h1><%= @ad_code.name %> <small class="text-muted"><%= "utm#{@ad_code.index}" %></small></h1>

<%= render 'ad_codes/tabs' %>

<h2>Values between <%= @start %> and <%= @finish %> </h2>

<%= render 'shared/timeline_dimension_toolbar', show_density: true %>

<%= timeline(@values, @options) %>


