<%= render 'shared/breadcrumb' %>

<h1><%= @ad_code.name %> <small class="text-muted"><%= "utm#{@ad_code.index}" %></small></h1>

<%= render 'ad_codes/tabs' %>

<h2>Values between <%= @start %> and <%= @finish %> </h2>

<div class="btn-toolbar" role="toolbar" aria-label="Timeline options">
  <div class="btn-group mr-4">
    <%= timeline_range_links %>
  </div>

  <div class="btn-group">
    <%= render 'timeline_density_dropdown' %>
  </div>
</div>

<%= timeline(@values, @options) %>


