<% content_for :title, "#{@campaign.surname} | #{@value.name} | #{@value.value}#{" (#{@description.value_name})" if @description}" %>

<%= render 'shared/breadcrumb' %>

<h1>
  <span class="text-muted font-weight-light"><%= @value.name %></span>
  <span class="badge badge-primary"><%= @value.value %></span>
  <small class="text-muted">, utm<%= @value.index %></small>
</h1>

<% if @description %>
  <dl class="values">
    <dt>We think this means</dt>
    <dd><%= @description.value_name %></dd>
    <% if @description.confidence %>
      <dt>Confidence</dt>
      <dd><%= confidence_badge(@description.confidence) %></dd>
    <% end %>
  </dl>
  <div class="description">
    <%= markdown_to_html(@description.description) %>
  </div>
<% end %>


<p class="lead">
  Used in
  <%= link_to "#{number_with_delimiter(@value.count)} adverts",
        adverts_path("with_utm_values[#{@value.index}]" => @value.value) %>
  <% if @value.approximate_spend.present? && @value.approximate_spend > 0 %>
    with a spend of <%= round_dollars(@value.approximate_spend) %>
  <% end %>
</p>

<%= render 'shared/timeline_dimension_toolbar' %>

<% if @values.any? %>
  <%= timeline @values %>
<% else %>
  <p>No values for time period.</p>
<% end %>
