<h1>Hosts</h1>

<%= render 'shared/breadcrumb' %>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th width="40%">Host name</th>
      <th width="20%">Adverts</th>
      <th width="20%">First ad</th>
      <th width="20%">Last ad</th>
    </tr>
  </thead>

  <tbody>
    <% @hosts.each do |host| %>
      <tr>
        <td><%= host.hostname %></td>
        <td><%= link_to "#{host.ad_count} adverts", host_adverts_path(host) %></td>
        <td><%= host.ad_first %></td>
        <td><%= host.ad_last %></td>
      </tr>
    <% end %>
  </tbody>
</table>
