<%= render 'shared/breadcrumb' %>

<% @hosts_by_value.each do |value, hosts| %>
  <h2><%= link_to value, adverts_by_utm_value_path(value) %></h2>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th width="50%">Hostname</th>
        <th width="25%">Purpose</th>
        <th width="25%">Count</th>
      </tr>
    </thead>
    <% hosts.each do |host| %>
      <tr>
        <td><%= host.hostname %></td>
        <td><%= host.purpose %></td>
        <td><%= host.count %></td>
      </tr>
    <% end %>
  </table>
<% end %>
