<h1>utm<%= @index %></h1>

<%= render 'shared/breadcrumb' %>

<h2>
  <%= pluralize(@values.count, 'discrete value') %>
  <small>(<%= link_to 'show over time', last_30_days_path(@index) %>)</small>
</h2>
<ul class="tag-list">
  <% @values.each do |value| %>
    <li><%= link_to value, adverts_path("with_utm_values[#{@index}]" => value.value) %> (<%= value.count %>)</li>
  <% end %>
</ul>
<h2>Show against:</h2>

<h3>Other values</h3>
<ul class="tag-list">
  <% utm_indices_except(@index).each do |other_index| %>
    <li><%= link_to "utm#{other_index}", utm_campaign_value_against_path(@index, other_index) %></li>
  <% end %>
</ul>

<h3><%= link_to 'Hosts', utm_campaign_value_hosts_path(@index) %></h3>
