<h1>utm<%= @index %></h1>

<%= render 'shared/breadcrumb' %>

<h2>
  <%= pluralize(@values.count, 'discrete value') %>
  <small>(<%= link_to 'show over time', last_30_days_path(@index) %>)</small>
</h2>
<ul class="tag-list">
  <% @values.each do |value| %>
    <li><%= link_to value, adverts_by_utm_value_path(value.value) %> (<%= value.count %>)</li>
  <% end %>
</ul>
<h2>Compare with:</h2>
<ul class="tag-list">
  <% utm_indices_except(@index).each do |other_index| %>
    <%= link_to "utm#{other_index}", utm_campaign_value_against_path(@index, other_index) %>
  <% end %>
</ul>
