<% campaign = @decoding.campaign %>
<% advert = @decoding.advert %>

<div class="alert alert-secondary text-right decode-another" role="alert">
  <a class="" data-toggle="collapse" href="#decode-another" role="button" aria-expanded="false" aria-controls="decode-another">
    Decode another?
    <i class="fa fa-chevron-circle-up"></i>
    <i class="fa fa-chevron-circle-down"></i>
  </a>
</div>

<div class="collapse" id="decode-another">
  <%= render 'adverts/decode_a_link_card' %>
</div>

<h1 class="mb-4 wants row">
  <span class="text-center col-1 mr-4 mr-sm-0 col-sm-3"><%= font_awesome_icon_for(@decoding.wants_key) %></span>

  <span class="col-10 col-sm-8">The <%= campaign.surname %> campaign wants <%= @decoding.wants %></span>
</h1>

<hr>

<div class="row ad-details align-content-center">
  <div class="col-12 col-sm-3 align-content-center">
    <%= campaign_face(campaign.slug, class: 'mx-auto d-block') %>
  </div>
  <div class="col-sm-8">
    <div class="card">
      <div class="card-header">
        <%= link_to linefeed_to_br(advert.external_text), advert.external_url %>
      </div>

      <div class="card-body">
        <blockquote><%= linefeed_to_br(advert.ad_creative_body) %></blockquote>

        <dl class="text-muted dl-1">
          <dt>Ad delivery start</dt>
          <dd><%= full_date(advert.ad_delivery_start_time) %></dd>
          <% if advert.ad_delivery_stop_time %>
            <dt>Ad delivery stop</dt>
            <dd><%= full_date(advert.ad_delivery_stop_time) %></dd>
          <% end %>
        </dl>

        <div class="d-flex justify-content-end">
          <label class="h6 align-self-center mt-2 mr-3">View</label>
          <div class="btn-group" role="group" aria-label="View">
            <%= link_to 'with ad codes', advert_path(advert), class: 'btn btn-outline-primary' %>
            <%= link_to advert.ad_library_url, class: 'btn btn-outline-secondary', target: '_blank' do %>
              in <span class="d-none d-lg-inline">the Facebook</span> ad library
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row thinks mt-4">
  <div class="col-12 col-sm-3"></div>
  <div class="col-sm-8">

    <% if @decoding.thinks.any? %>
      <h2>They think:</h2>
      <ul class="campaign-thinks-you lead">
        <% @decoding.thinks.each do |think| %>
          <li><%= think %></li>
        <% end %>
      </ul>
    <% else %>
      <h2>This campaign either:</h2>
      <ul class="lead">
        <li>might know something about you, but isn't tracking it in its URLs right now, <strong>or</strong></li>
        <li>is targeting very broadly.</li>
      </ul>
    <% end %>
  </div>
</div>

<% if Rails.env.development? %>
  <div class="text-muted">
    <%= advert.illuminate_tags || 'no illuminate tags' %>
  </div>
<% end %>
