<h1>
  Adverts with <%= @value.value  %>
</h1>

<%= render 'shared/breadcrumb' %>

<dl>
  <dt>Value first seen</dt>
  <dd><%= @min_max.min %></dd>
  <dt>Value last seen</dt>
  <dd><%= @min_max.max %></dd>
</dl>

<%= render 'adverts_table' %>

