<h1><%= @advert.ad_creative_link_title %></h1>

<%= render 'shared/breadcrumb' %>

<dl class="metadata">
  <dt>Page</dt>
  <dd><%= @advert.page_name %></dd>
  <dt>Funding entity</dt>
  <dd><%= @advert.funding_entity %></dd>
  <dt>Ad creation time</dt>
  <dd><%= @advert.ad_creation_time %></dd>
  <dt>Ad start date</dt>
  <dd><%= @advert.ad_delivery_start_time %></dd>
  <% if @advert.ad_delivery_stop_time %>
    <dt>Ad stop date</dt>
    <dd><%= @advert.ad_delivery_stop_time %></dd>
  <% end %>
</dl>

<dl class="utm">
  <% @advert.utm_campaign_values.each do |utm|
    ad_code = @ad_codes[utm.index].first
  %>
    <dt>
      <%= link_to campaign_ad_code_path(campaign_id: @advert.funded_by.campaign, id: utm.index) do %>
        <%= ad_code.name %>
        <small class="text-muted">utm<%= ad_code.index %></small>
      <% end %>
    </dt>
    <dd><%= link_to utm.value, adverts_path("with_utm_values[#{utm.index}]" => utm.value) %></dd>
  <% end %>
</dl>

<div class="container-fluid previews">
<div class="row no-gutters">
  <div class="col">
    <%= link_to 'Open in new tab', @advert.ad_snapshot_url, target: '_blank' %>
    <br>
    <iframe src="<%= @advert.ad_snapshot_url %>"></iframe>
  </div>

  <div class="col">
    <%= link_to 'Open in new tab', @advert.ad_library_url, target: '_blank' %>
    <br>
    <iframe src="<%= @advert.ad_library_url %>"></iframe>
  </div>
</div>
</div>
