<h1>Decoding the Presidential candidates’ Facebook advertising</h1>
<%= content_for :title, 'A project by Who Targets Me' %>

<div class="row">
  <div class="col col-lg-8">
  <p class="lead">Modern campaigns run thousands of digital ads at a time.</p>

  <p>Each is a combination of content, targeting and spending designed to provoke the maximum possible reaction from those
    who see it.</p>

  <p>This data investigation, updated daily, shows how the two US Presidential campaigns construct their digital
    advertising and in doing so, shows how they think about their supporters and voters.</p>
  </div>
</div>

<div class="jumbotron campaigns">
  <div class="row">
    <% @campaigns.each do |campaign| %>
      <div class="col-sm-6 campaign campaign-<%= campaign.slug %>">
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <%= link_to campaign_ad_codes_path(campaign.slug) do %>
              <%= campaign_face(campaign.slug) %>
            <% end %>
          </div>

          <div class="col-sm-12 col-md-8">
            <h3 class="campaign-title text-nowrap"><%= campaign.name %></h3>
            <ul class="funding-entities">
              <% campaign.funding_entities.each do |entity| %>
                <li class="text-muted"><%= entity.name %></li>
              <% end %>
            </ul>

            <p class="lead">Total ads: <%= number_with_delimiter(campaign.ad_count) %></p>
          </div>
        </div>

        <h3 class="h5">Explore</h3>
        <div class="d-flex flex-column flex-md-row justify-content-center">
          <%= link_to "Ad codes", campaign_ad_codes_path(campaign.slug), class: 'btn btn-primary flex-grow-1 mr-md-2 mb-2 mb-md-0' %>
          <%= link_to "Campaign wants", campaign_path(campaign.slug), class: 'btn btn-outline-secondary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row justify-content-center">
  <p class="analysis-based col-sm-8 text-center text-muted">
    Analysis based on <%= advert_count_text %> from the Biden and Trump campaigns
    since <%= @ads_since.strftime('%B %-d') %>
  </p>
</div>

<h2 class="h3">
  Ad
  <%= render 'shared/dimension_dropdown' %>
  per day
</h2>

<div class="row graph">
  <%=
    line_chart @ad_counts,
      height: '600px', curve: true, download: true,
      colors: %w[blue red]
  %>
</div>

