<%= render 'shared/breadcrumb' %>

<% content_for :title, "#{@campaign.surname} campaign summary by want" %>
<h1 class="mt-4 mb-4">
  <%= image_tag asset_path("face-circle-#{@campaign.slug}-700x700.png"), class: 'face', size: '50x50' %>
  <%= @campaign.surname %> campaign summary <small class="text-muted">by want</small>
</h1>

<div class="btn-toolbar mt-4 mb-4 ml-1">
  <div class="btn-group mr-4" aria-label="Campaign range">
    <%= campaign_range_links %>
  </div>
  <div class="btn-group" aria-label="Show">
    <button class="btn btn-outline" disabled>Show</button>
    <%= render 'shared/dimension_dropdown', show_percentage: true %>
  </div>
</div>

<div class="row graph">
  <%=
    options = {
      height: '700px',
      download: true,
      stacked: true,
    }

    options.merge!(min:0, max: 100) if @dimension == 'percentage'

    column_chart @wants_summary, options
  %>
</div>
