<!DOCTYPE html>
<html>
  <head>
    <title>PolitAds</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="container">
    <nav class="navbar navbar-expand-md navbar-light mb-3">
      <%= link_to utm_campaign_values_path, class: 'navbar-brand' do %>
        <%= image_tag asset_path('wtm_logo_2020.png'), size: '50x50' %>
      <% end %>
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item">
          <%= link_to 'Ad Codes', campaign_ad_codes_path('trump'), class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Hosts', hosts_path, class: 'nav-link' %>
        </li>
      </ul>
    </nav>
    <%= yield %></div>
  </body>
</html>
