<!DOCTYPE html>
<html>
  <head>
    <title>
      Decoding Trump & Biden
      <%= if content_for?(:title) then ' | ' + yield(:title) end %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path('wtm_logo_icon.png'), rel: 'icon', size: '192x192', type: 'image/png' %>
    <%= favicon_link_tag asset_path('wtm_logo_icon.png'), rel: 'apple-touch-icon', size: '192x192', type: 'image/png' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  </head>

  <body>

  <div class="container">
    <nav class="navbar navbar-expand-md navbar-light mb-3">
      <%= link_to campaigns_path, class: 'navbar-brand' do %>
        <%= image_tag asset_path('wtm_logo_2020.png'), size: '50x50' %>
      <% end %>
      <ul class="navbar-nav mr-auto">
        <%= nav_item 'Biden Ad Codes', campaign_ad_codes_path('biden') %>
        <%= nav_item 'Trump Ad Codes', campaign_ad_codes_path('trump') %>
        <%= nav_item 'Decode a link', adverts_decode_a_link_path, class: 'bold' %>
        <%= nav_item 'Donate', 'https://whotargets.me/donate-to-who-targets-me/', class: 'btn nav-link donate-link' %>
        <%= nav_item 'Download Extension', 'https://whotargets.me/download/', class: 'btn nav-link download-extension' %>
      </ul>
    </nav>
    <%= yield %></div>
  </body>
</html>
